@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Global Reset
   ========================================================================== */
/**
 * Remove the margin and padding in all browsers and set background-no-repeat
 as default(opinionated).
 */
* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

/* Document
   ========================================================================== */
html,
body {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%; }

/* Sections
   ========================================================================== */
blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

hr {
  overflow: visible;
  border: none;
  border-bottom: solid 1px grey; }

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */ }

[hidden],
template {
  display: none;
  /* Add the correct display in IE */ }

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */ }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */ }

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */ }

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */ }

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000; }

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/**
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/* Forms
   ========================================================================== */
input {
  border-radius: 0;
  outline: none; }

[type="number"] {
  width: auto;
  /* Firefox 36+ */ }

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */ }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
  border-radius: 0;
  outline: none; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */ }

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */ }

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */ }

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */ }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  border: solid 1px #666; }

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */ }

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */ }

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */ }

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */ }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */ }

/* Correct the text style of placeholders in Chrome, Edge, and Safari */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */ }

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */ }

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */ }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */ }

/* # =================================================================
   # Acessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress; }

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer; }

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default; }

/* Browser Upgrade
   ========================================================================== */
/* Add generic styles to H5BP .browserupgrade - https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html#L18-L20 */
.browserupgrade {
  padding: 15px;
  text-align: center;
  color: #fff;
  background: #333; }

.browserupgrade a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold; }

.browserupgrade a:hover {
  text-decoration: underline; }

html {
  font-family: "Source Sans Pro";
  color: #495057; }

body {
  font-family: "Source Sans Pro"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro"; }

code,
kbd,
pre,
samp {
  font-family: "Roboto Mono"; }

a {
  font-family: "Source Sans Pro"; }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media only screen and (max-width: 768px) {
    .grid {
      display: block; } }
  @media only screen and (max-width: 768px) {
    .grid > [class^="column-"] {
      width: 100%; } }
  .grid.grid__gapless > .column {
    margin: 0; }

.column-1 {
  width: calc(8.33333% - 1rem);
  margin: 0.5rem; }

.column-2 {
  width: calc(16.66667% - 1rem);
  margin: 0.5rem; }

.column-3 {
  width: calc(25% - 1rem);
  margin: 0.5rem; }

.column-4 {
  width: calc(33.33333% - 1rem);
  margin: 0.5rem; }

.column-5 {
  width: calc(41.66667% - 1rem);
  margin: 0.5rem; }

.column-6 {
  width: calc(50% - 1rem);
  margin: 0.5rem; }

.column-7 {
  width: calc(58.33333% - 1rem);
  margin: 0.5rem; }

.column-8 {
  width: calc(66.66667% - 1rem);
  margin: 0.5rem; }

.column-9 {
  width: calc(75% - 1rem);
  margin: 0.5rem; }

.column-10 {
  width: calc(83.33333% - 1rem);
  margin: 0.5rem; }

.column-11 {
  width: calc(91.66667% - 1rem);
  margin: 0.5rem; }

.column-12 {
  width: calc(100% - 1rem);
  margin: 0.5rem; }

html {
  font-size: 0.875rem; }
  @media screen and (min-width: 30rem) {
    html {
      font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 45); } }
  @media screen and (min-width: 75rem) {
    html {
      font-size: 1rem; } }

body {
  line-height: 1.5rem; }
  body * {
    line-height: inherit; }

p {
  margin-bottom: 0.75rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 3.815rem;
  line-height: 3.815rem;
  margin-top: calc((1.5rem - 3.815rem) + 3rem); }

h2 {
  font-size: 3.052rem;
  line-height: 3.052rem;
  margin-top: calc((1.5rem - 3.052rem) + 1.5rem*2); }

h3 {
  font-size: 2.441rem;
  line-height: 2.441rem;
  margin-top: calc((1.5rem - 2.441rem) + 1.5rem*2); }

h4 {
  font-size: 1.953rem;
  line-height: 1.953rem;
  margin-top: calc((1.5rem - 1.953rem) + 1.5rem*2); }

h5 {
  font-size: 1.563rem;
  line-height: 1.563rem;
  margin-top: calc((1.5rem - 1.563rem) + 1.5rem*2); }

h6 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: calc((1.5rem - 1.25rem) + 1.5rem*2); }

.u-s1 {
  font-size: 3.815rem; }

.u-s2 {
  font-size: 3.052rem; }

.u-s3 {
  font-size: 2.441rem; }

.u-s4 {
  font-size: 1.953rem; }

.u-s5 {
  font-size: 1.563rem; }

.u-s6 {
  font-size: 1.25rem; }

.u-image__fit {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.button {
  position: relative;
  display: inline-block;
  padding: .25rem 1.5rem;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: 600;
  background: #CD432E;
  border: solid 1px #CD432E;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  text-transform: uppercase; }
  .button:hover {
    background: #495057;
    border-color: #495057; }
  .button-primary {
    background: #4A83FA;
    border-color: #4A83FA; }
  .button-secondary {
    background: #F96281;
    border-color: #F96281; }
  .button-tertiary {
    background: #FDB557;
    border-color: #FDB557; }
  .button-error {
    background: #FA5252;
    border-color: #FA5252; }
  .button-info {
    background: #15AABF;
    border-color: #15AABF; }
  .button-success {
    background: #82C91E;
    border-color: #82C91E; }
  .button-warning {
    background: #FD7E14;
    border-color: #FD7E14; }
  .button-shadow {
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.14); }
    .button-shadow:hover {
      box-shadow: none; }
  .button-ghost {
    color: #4A83FA;
    background: transparent; }
    .button-ghost:hover {
      color: #ffffff; }
    .button-ghost.button-primary {
      color: #4A83FA; }
      .button-ghost.button-primary:hover {
        color: #ffffff; }
    .button-ghost.button-secondary {
      color: #F96281; }
      .button-ghost.button-secondary:hover {
        color: #ffffff; }
    .button-ghost.button-tertiary {
      color: #FDB557; }
      .button-ghost.button-tertiary:hover {
        color: #ffffff; }
    .button-ghost.button-info {
      color: #15AABF; }
      .button-ghost.button-info:hover {
        color: #ffffff; }
    .button-ghost.button-success {
      color: #82C91E; }
      .button-ghost.button-success:hover {
        color: #ffffff; }
    .button-ghost.button-error {
      color: #FA5252; }
      .button-ghost.button-error:hover {
        color: #ffffff; }
    .button-ghost.button-warning {
      color: #FD7E14; }
      .button-ghost.button-warning:hover {
        color: #ffffff; }
  .button-invisible {
    color: #4A83FA;
    background: transparent;
    border-color: transparent; }
    .button-invisible:hover {
      background: transparent;
      border-color: transparent; }
    .button-invisible.button-primary {
      color: #4A83FA; }
      .button-invisible.button-primary:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-secondary {
      color: #F96281; }
      .button-invisible.button-secondary:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-tertiary {
      color: #FDB557; }
      .button-invisible.button-tertiary:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-info {
      color: #15AABF; }
      .button-invisible.button-info:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-success {
      color: #82C91E; }
      .button-invisible.button-success:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-error {
      color: #FA5252; }
      .button-invisible.button-error:hover {
        background: transparent;
        border-color: transparent; }
    .button-invisible.button-warning {
      color: #FD7E14; }
      .button-invisible.button-warning:hover {
        background: transparent;
        border-color: transparent; }

button {
  position: relative;
  display: inline-block;
  padding: .25rem 1.5rem;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: 600;
  background: #CD432E;
  border: solid 1px #CD432E;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer; }
  button:hover {
    background: #495057;
    border-color: #495057; }

.alert {
  position: relative;
  width: 50%;
  background: #F8F8F8;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  background: #ffffff;
  border-left: 3px solid #495057;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .alert h1,
  .alert h2,
  .alert h3,
  .alert h4,
  .alert h5,
  .alert h6 {
    margin: 0; }
  .alert p {
    margin-bottom: 0; }
  .alert:before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -.75rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #495057;
    border-radius: 50%;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .alert.error {
    border-left-color: #FA5252; }
    .alert.error:before {
      content: '!';
      background: #FA5252; }
  .alert.warning {
    border-left-color: #FD7E14; }
    .alert.warning:before {
      content: '!';
      background: #FD7E14; }
  .alert.success {
    border-left-color: #82C91E; }
    .alert.success:before {
      content: '!';
      background: #82C91E; }
  .alert.info {
    border-left-color: #15AABF; }
    .alert.info:before {
      content: '!';
      background: #15AABF; }

.c-media__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-media__object h1,
  .c-media__object h2,
  .c-media__object h3,
  .c-media__object h4,
  .c-media__object h5,
  .c-media__object h6,
  .c-media__object p strong {
    margin-top: 0;
    margin-bottom: .5rem; }
  .c-media__object ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .c-media__object li {
    padding: 0 .5rem; }
    .c-media__object li:first-of-type {
      padding-left: 0; }
  .c-media__object a {
    color: #4A83FA; }
  .c-media__object__left {
    margin-right: 1rem;
    min-height: 75px;
    min-width: 75px;
    max-height: 75px;
    max-width: 75px; }
  .c-media__object__right {
    margin-left: 1rem;
    height: 20px;
    width: 20px; }

.box {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #ffffff;
  padding: 1rem;
  border: solid 1px #E9ECEF;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px; }
  @media only screen and (max-width: 768px) {
    .box {
      display: block; } }
  @media only screen and (max-width: 768px) {
    .box > [class^="column-"] {
      width: 100%; } }
  .box.grid__gapless > .column {
    margin: 0; }

.c-card {
  background: #ffffff;
  border: solid 1px #E9ECEF;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden; }
  .c-card__image {
    height: 200px;
    width: 100%; }
  .c-card__content {
    padding: 1rem; }
  .c-card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .c-card__footer-item {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: false; }
  .modal.is--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }
  .modal-content {
    width: 60%; }
  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background: transparent;
    border: none; }
    .modal-close:hover {
      background: rgba(0, 0, 0, 0.5); }
    .modal-close:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
      height: 3px;
      width: 20px;
      background: #ffffff; }
    .modal-close:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
      height: 3px;
      width: 20px;
      background: #ffffff; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-field label {
  display: block;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: .5rem; }

.form-field input {
  display: block;
  width: 100%;
  padding: .25rem;
  margin-bottom: 1rem;
  border-radius: 3px; }
  .form-field input.is--info {
    border-color: #15AABF; }
  .form-field input.is--success {
    border-color: #82C91E; }
  .form-field input.is--error {
    border-color: #FA5252; }
  .form-field input.is--warning {
    border-color: #FD7E14; }
  .form-field input:focus {
    border-color: #4A83FA; }

.form-field textarea {
  display: block;
  width: 100%;
  min-height: 125px;
  padding: .25rem;
  margin-bottom: 1rem;
  border-radius: 3px; }
  .form-field textarea.is--info {
    border-color: #15AABF; }
  .form-field textarea.is--success {
    border-color: #82C91E; }
  .form-field textarea.is--error {
    border-color: #FA5252; }
  .form-field textarea.is--warning {
    border-color: #FD7E14; }
  .form-field textarea:focus {
    border-color: #4A83FA; }

::-moz-selection {
  background: #4A83FA;
  color: #fff; }

::selection {
  background: #4A83FA;
  color: #fff; }

.field__icon:before,
.u-material__icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/*
|--------------------------------------------------------------------------
| #FIELDS
|--------------------------------------------------------------------------
*/
.field {
  margin-bottom: 1rem;
  position: relative; }
  .field textarea {
    min-height: 150px; }
  .field__input {
    padding: .4rem;
    width: 100%;
    border-color: #ADB5BD;
    color: #495057;
    border-radius: 3px; }
    .field__input:hover {
      border-color: #495057; }
    .field__input:focus {
      border-color: #CD432E; }
    .field__input::-webkit-input-placeholder {
      opacity: 1;
      color: #ADB5BD; }
    .field__input::-moz-placeholder {
      opacity: 1;
      color: #ADB5BD; }
    .field__input:-ms-input-placeholder {
      opacity: 1;
      color: #ADB5BD; }
    .field__input::placeholder {
      opacity: 1;
      color: #ADB5BD; }
    .field__input--success {
      border-color: #26DDA5; }
      .field__input--success:hover {
        border-color: #199e75; }
      .field__input--success:focus {
        border-color: #4A83FA; }
    .field__input--error {
      border-color: #F8729D; }
      .field__input--error:hover {
        border-color: #f4296a; }
      .field__input--error:focus {
        border-color: #4A83FA; }
  .field__icon:before {
    content: 'person';
    position: absolute;
    top: 50%;
    left: .5rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #ADB5BD; }
  .field__icon .field__input {
    padding-left: 1.75rem; }
  .field__required:after {
    content: '*';
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #F8729D;
    font-weight: bold; }

body {
  background: #F8F8F8; }

.nav {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 50;
  background: #ffffff; }
  .nav .grid {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav li {
    position: relative; }
    .nav li:hover > ul {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav a {
    color: #495057;
    display: block;
    padding: 1.5rem .5rem;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition-delay: 0;
            transition-delay: 0; }
    .nav a:hover {
      color: #ADB5BD; }
  .nav a.nav__brand {
    padding: 0; }
    .nav a.nav__brand img {
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

/*
|--------------------------------------------------------------------------
| #AUTH FORM
|--------------------------------------------------------------------------
*/
.form__auth {
  background: #ffffff;
  max-width: 50%;
  margin: 4rem auto 0;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1); }
  .form__auth a img {
    max-height: 50px;
    margin-bottom: 2rem; }

.field__email:before {
  content: 'mail'; }

.field__password:before {
  content: 'vpn_key'; }
