<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Viewport Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Styles -->
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../admin/resources/assets/css/app.css">

    <!-- Mobile Theme Colour -->

    <meta name="theme-color" content="#766dcc">

    <!-- Title and Description -->

    <title>Admin | {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    
    <link rel="icon" href="">

    <!-- Open Graph -->

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">

</head>

<body>

    <!--[if IE]>
      <div class="browserupgrade"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
   <![endif]-->

    <div id="app">

        {% block content %}
            
        {% endblock %}

    </div>
    
    <script src="../../admin/resources/assets/js/app.js"></script>
</body>

<!-- See You Space Cowboy... -->

</html>
